// Colors
$color-white: #FFFFFF;
$color-green: #6FCF97;
$color-purple: #BC9CFF;
$color-purple-50: rgba(188, 156, 255, 0.5);
$color-blue: #8BA4F9;
$color-blue-50: rgba(139, 164, 249, 0.5);
$color-dark-shade: #1F2041;
$color-dark-shade-5: rgba(31, 32, 65, 0.05);
$color-dark-shade-10: rgba(31, 32, 65, 0.1);
$color-dark-shade-25: rgba(31, 32, 65, 0.25);
$color-dark-shade-50: rgba(31, 32, 65, 0.5);
$color-dark-shade-75: rgba(31, 32, 65, 0.75);