// Colors
$color-green: #6FCF97;
$color-purple: #BC9CFF;
$color-dark-shade-5: rgba(31, 32, 65, 5);
$color-dark-shade-25: rgba(31, 32, 65, 25);
$color-dark-shade-50: rgba(31, 32, 65, 50);
$color-dark-shade-75: rgba(31, 32, 65, 75);
$color-dark-shade-100: rgba(31, 32, 65, 100);