.list {
    display: flex;

    &__item  {
        list-style: none;
        
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        @include typography(body);
        color: $color-dark-shade-50;
        text-decoration: none;
        cursor: pointer;

        .icon {
            width: 24px;
            height: 21px;
            fill: $color-dark-shade-50;
        }

        &_active {
            color: $color-dark-shade-50;
            font-weight: bold;
        }
    }

    &__image{
        width: 12px;
        height: 8px;
        margin-left: 8px;
    }
}